{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}

    {{ form_start(form)}}
    {{ form_row(form.number)}}
    {{ form_row(form.seats)}}
    <button type="submit">Nouveau</button>
    {{ form_end(form)}}

{% endblock %}
